<!doctype html>
<html>
  <head>
    <base href="/">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="todomvc-common/base.css" />
    <link rel="stylesheet" type="text/css" href="todomvc-app-css/index.css"/>
    <link rel='stylesheet' type="text/css" href='stylesheets/style.css' />

    <script src="angularjs/angular.min.js"></script>
    <script src="angular-resource/angular-resource.js"></script>
    <script src="angular-route/angular-route.js"></script>

    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers/main.js"></script>
    <script src="javascripts/directives/todoescape.js"></script>
    <script src="javascripts/directives/todofocus.js"></script>
    <script src="javascripts/services/todo.js"></script>
  </head>
  <body ng-app="todomvcApp">
    <div class="container" ng-view=""></div>
  </body>
</html>
